.DS_Store 

#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
#build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
 *__pycache__*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Minecraft Wrapper

build/version.json

# PyCharm project
*.idea
test.py

# Ensure local test environment doesn't get committed
# Probably better to just use a different directory for local test envs
wrapper-plugins
logs
wrapper-data
banned-*
eula.txt
logging.json
*.jar
ops.json
server-icon.png
usercache.json
whitelist.json
wrapper.properties
server.properties
build
.venv/
/world/
.vscode/