{% extends "__layout_dashboard__.html" %}

{% set enable_navbar = False %}
{% block pagename %}Backups{% endblock %}}

{% block subhead %}
    <style>

    </style>

    <script>
        __socketio_ready = function(){

        }

        $(document).ready(function(){

        })
    </script>
{% endblock %}

{% block subbody %}

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Filesize</th>
                <th>Path</th>
            </tr>
        </thead>

        <tbody>
            {% for backup in g.wrapper.backups.list() %}
                <tr>
                    <td>{{ backup.name }}</td>
                    <td>{{ backup.filesize }}B</td>
                    <td>{{ backup.path }}</td>
                    <!-- <h4>{{ backup }}</h4> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
