{% extends "__layout_dashboard__.html" %}

{% set enable_navbar = True %}
{% block pagename %}Backups{% endblock %}}

{% block subnav %}
    <li class="tab">
        <a target="_self" href="/backups"
            {% if request.endpoint == "admin.backups_list"%} class="active"{% endif %}>
            List
        </a>
    </li>
    <li class="tab">
        <a target="_self" href="/backups/settings"
            {% if request.endpoint == "admin.backups_settings"%} class="active"{% endif %}>
            Settings
        </a>
    </li>
{% endblock %}

{% block subhead %}
    <style>

    </style>

    <script>
        __socketio_ready = function(){
            socket.on("backups.start", function(payload){
                console.log("backup running")

                $("#backup-ongoing").removeClass("hide")
            })

            socket.on("backups.complete", function(payload){
                console.log("backup complete")

                $("#backup-ongoing").addClass("hide")
            })

            socket.on("backups.list", function(payload){
                console.log("backup list", payload)
                $("#backups-list").html("")

                $(".progress").addClass("hide")
                $("#backups-list-table").removeClass("hide")

                for(i in payload){
                    var backup = payload[i]
                    console.log(backup)

                    var el = $("<tr>")
                        .append(
                            $("<td>")
                                .text(backup.name)
                        )
                        .append(
                            $("<td>")
                                .text(backup.filesize)
                        )
                        .append(
                            $("<td>")
                                .text(backup.path)
                        )
                        .append(
                            $("<td>")
                                .append(
                                    $("<button>")
                                        .addClass("btn")
                                        .addClass("btn-small")
                                        .on("click", function(){
                                            if(confirm("Are you sure you want to delete the backup '" + backup.name + "'?")){
                                                alert("Successfully deleted.")
                                                socket.emit("delete_backup", this.id)
                                            }
                                        })
                                        .text("Delete")
                                        .attr("id", backup.id)
                                )
                        )

                    $("#backups-list").append(el)
                }
            })
        }

        $(document).ready(function(){

        })

        start_backup = function(){
            if(confirm("Start backkup?"))
                socket.emit("start_backup")
        }
    </script>
{% endblock %}

{% block subbody %}

    {% if "delete" in request.args %}
        <div class="card green darken-1">
            <div class="card-content white-text">
                <b>Deleted backup.</b>
            </div>
        </div>
    {% endif %}

    <div class="card cyan darken-1 hide" id="backup-ongoing">
        <div class="card-content white-text">
            <i class="material-icons medium" style="vertical-align:middle; padding-right: 12px;">backup</i>
            Wrapper is backing up right now...
        </div>
    </div>

    <a class="btn-floating btn-large waves-effect waves-light blue" href="#" onclick="start_backup()">
        <i class="material-icons">add</i>
    </a>

    {% if g.wrapper.backups.list()|length == 0 %}
        <div class="vertical-center" style="text-align:center;">
            <h2>No backups - yet!</h2>
            <h5>Check back later!</h5>
        </div>
    {% else %}

        <div class="progress" style="width: 60%; margin: auto;">
            <div class="indeterminate"></div>
        </div>

        <table id="backups-list-table" class="hide">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Filesize</th>
                    <th>Path</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="backups-list">
                <!-- {% for backup in g.wrapper.backups.list() %}
                    <tr{% if backup.orphan %} class="red lighten-4 disabled-text"{% endif %}>
                        <td>{{ backup.name }}</td>
                        <td>{{ backup.filesize|human_bytes }}</td>
                        <td>{{ backup.path }}</td>
                        <td>
                            <a href="?delete={{ backup.id }}" class="btn btn-small">Delete</a>
                        </td>
                    </tr>
                {% endfor %} -->
            </tbody>
        </table>
    {% endif %}
{% endblock %}
