{% extends "__layout_dashboard__.html" %}

{% set enable_navbar = False %}
{% block pagename %}Overview{% endblock %}}

{% block subhead %}
    <style>
        .chat{
            height: 80%;
            overflow-y: scroll;
        }
    </style>

    <script>
        __socketio_ready = function(){
            socket.emit("server")
            socket.emit("chat")

            // Server states
            socket.on("server.starting", function(payload){
                ui.on_starting()
            })
            socket.on("server.started", function(payload){
                ui.on_started()
            })
            socket.on("server.stopping", function(payload){
                ui.on_stopping()
            })
            socket.on("server.stopped", function(payload){
                ui.on_offline()
            })

            // Players
            socket.on("server.player.join", function(payload){
                ui.on_player_join(payload.player)
                server.players[server.players.length] = payload.player
                // console.log("server.player.join", payload)
            })

            socket.on("server.player.part", function(payload){
                ui.on_player_part(payload.player)
                // console.log("server.player.part", payload)
            })

            socket.on("server.player.message", function(payload){
                // console.log("server.player.message", payload)
                $("#chat").append("&lt;" + payload.player.username + "&gt; " + payload.message+"\n")
            })

            // Server RAM/CPU
            socket.on("server.status.ram", function(payload){
                $("#server-ram").text(filesize(payload.usage))
            })

            socket.on("server.status.cpu", function(payload){
                $("#server-cpu").text(payload.usage + "%")
            })

            // Initial server payload
            socket.on("server", function(payload){
                console.log(payload)

                server.players = payload.players

                // Populate existing players in players table
                ui.on_player_join(server.players)

                // World name and size
                if(payload.world){
                    $("#server-world-name").text(payload.world.name)
                    $("#server-world-size").text(filesize(payload.world.size))
                }

                if(payload.state == 0){
                    ui.on_starting()
                }

                if(payload.state == 1){
                    ui.on_started()
                }

                if(payload.state == 2){
                    ui.on_stopping()
                }

                if(payload.state == 3){
                    ui.on_stopped()
                }

                // Server version
                $("#server-version").text(payload.mcversion)
            })

            socket.on("chat", function(payload){
                console.log("chat", payload)
            })
        }

        ui.on_starting = function(){
            $("#server-state").text("Server starting")
            $("#card-status").removeClass("green red grey darken-2")
            $("#card-status").addClass("yellow darken-3")
        }
        ui.on_started = function(){
            $("#server-state").text("Server started")
            $("#card-status").removeClass("yellow red grey darken-3")
            $("#card-status").addClass("green darken-2")
        }
        ui.on_stopping = function(){
            $("#server-state").text("Server stopping")
            $("#card-status").removeClass("green red grey darken-2")
            $("#card-status").addClass("yellow darken-3")
            ui.on_player_join([])
        }
        ui.on_offline = function(){
            $("#server-state").text("Server offline")
            $("#card-status").removeClass("green red yellow darken-3")
            $("#card-status").addClass("grey darken-2")
            ui.on_player_join([])
        }

        ui.on_player_join = function(player){
            if(Array.isArray(player)){
                $("#table-players").html("")

                for (i in player){
                    ui.on_player_join(player[i])
                }

                return
            }

            if(player.skin){
                var skin_url = player.skin.url
            }else{
                var skin_url = "/static/images/skin-steve.png"
            }

            console.log(player)
            var _ = $("<tr>")
                .append(
                    $("<td>").append(ui.generate_face(skin_url, 32))
                )
                .append(
                    $("<td>").text(player.username)
                )
                .append(
                    $("<td>").text("action")
                )
                .attr("id", "table-players-" + player.uuid)

            $("#table-players").append(_)
        }

        ui.on_player_part = function(player){
            $("#table-players-" + player.uuid).remove()
        }
    </script>
{% endblock %}

{% block subnav %}
<li class="tab">
    <a target="_self" href="#"{% if request.endpoint == "test"%} class="active"{% endif %}>
        Test
    </a>
</li>

<li class="tab">
    <a target="_self" href="#"{% if request.endpoint == "test"%} class="active"{% endif %}>
        Test 2
    </a>
</li>
{% endblock %}

{% block subbody %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card green darken-2" id="card-status">
                <div class="card-content white-text">
                    <span class="card-title">
                        Status
                        <a href="#" data-target="server-dropdown" class="dropdown-trigger btn btn-small right grey lighten-3 black-text waves-effect waves-dark">Power</a>

                        <ul id="server-dropdown" class='dropdown-content'>
                            <li><a onclick="server.start()">Start</a></li>
                            <li><a onclick="server.restart()">Restart</a></li>
                            <li><a onclick="server.stop()">Stop</a></li>
                            <li><a onclick="server.freeze()">Freeze</a></li>
                          </ul>
                    </span>

                    <span id="server-state"></span>

                    <ul>
                        <li>
                            <b>Server Version</b>: <span id="server-version"></span>
                        </li>
                        <li>
                            <b>World Name</b>: <span id="server-world-name"></span>
                        </li>
                        <li>
                            <b>World Size</b>: <span id="server-world-size"></span>
                        </li>
                        <li>
                            <b>Server RAM</b>: <span id="server-ram"></span>
                        </li>
                        <li>
                            <b>Server CPU</b>: <span id="server-cpu"></span>
                        </li>
                        <li>
                            <b>Physical Disk Space</b>: <span id="server-disk-space"></span>
                        </li>
                        <li>
                            <b>Server Port</b>: <span id="server-port"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title">Players</span>

                    <table>
                        <thead>
                            <th>Face</th>
                            <th>Username</th>
                            <th>Actions</th>
                        </thead>
                        <tbody id="table-players"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
