{% extends "__layout_dashboard__.html" %}

{% set enable_navbar = False %}
{% set enable_back = True %}
{% set back_location = "/players" %}

{% block pagename %}Players / {{ player.username }}{% endblock %}}

{% block subhead %}
    <style>

    </style>

    <script>
        __socketio_ready = function(){

        }

        $(document).ready(function(){

        })
    </script>
{% endblock %}

{% block subbody %}
    <h5>
        {% if player.online %}
            <span class="badge">Online</span>
        {% endif %}

        {{ player.username }}
    </h5>

    Position: {{ player.position }}<br/>
    Last IP: {{ player.ip_address }}<br/>
    First Logged In: {{ player.first_login|naturaltime }}<br/>

    <h5>Skin</h5>
    <img src="{{ player.skin.url }}"/>
{% endblock %}
