{% extends "__layout_dashboard__.html" %}

{% set enable_navbar = False %}
{% block pagename %}Players ({{ g.wrapper.server.all_players|length }}) {% endblock %}

{% block subhead %}
    <style>

    </style>

    <script>
        __socketio_ready = function(){

        }

        $(document).ready(function(){

        })
    </script>
{% endblock %}

{% block subbody %}
{% if g.wrapper.server.mcserver %}
    <table id="player-list">
        <thead>
          <tr>
              <th>Face</th>
              <th>Name</th>
              <th>UUID</th>
              <th>Play Time</th>
              <th>Last Seen</th>
              <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for player in g.wrapper.server.all_players %}
              <tr{% if player.online %} class="light-green lighten-4"{% endif %}>
                <td id="{{ player.mcuuid }}-skin">
                    {% if not player.skin %}
                        <!-- <img src="/static/images/steve_skin_face.png"/> -->
                    {% endif %}
                </td>
                <td>
                    {{ player.username }}
                    {% if player.online %}
                        <br/><i>(online)</i>
                    {% endif %}
                </td>
                <td>{{ player.mcuuid }}</td>
                <td>{{ player.stats.total_playtime_seconds|naturaldelta }}</td>
                <td>{{ player.stats.last_time_seen|naturaltime }}</td>
                <td>
                    <a href="/players/{{ player.mcuuid }}" class="btn btn-small">Open</a>
                </td>
              </tr>

                {% if player.skin %}
                    <script>
                        $("#{{ player.mcuuid }}-skin").append(ui.generate_face("{{ player.skin.url }}"))
                    </script>
                {% else %}
                    <script>
                        $("#{{ player.mcuuid }}-skin").append(ui.generate_face("/static/images/skin-steve.png"))
                    </script>
                {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <script>
            $(document).ready( function () {
                // $('#player-list').DataTable();
            } );
      </script>
    {% else %}
        <div class="vertical-center" style="text-align:center;">
            <h2>Server isn't started.</h2>
            <h5>Player lists aren't accessible when the server isn't running.</h5>
        </div>
    {% endif %}
{% endblock %}
